<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage - Transport Calculator</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/log-out.js" defer></script>
    <script src="/redirect.js" defer></script>
    <script src="/displayEditTrans.js" defer></script>
  </head>
  <body>

    <nav>
      <img class="nav-logo" src="/images/logo-white.png" alt="company_logo " />
      <ul class="nav-list">
        <li><a href="/home">Home</a></li>
        <li><a href="/add">Add</a></li>
        <li><a href="/edit">Edit</a></li>
      </ul>
      <button id="log-out-btn" class="log-btn">Log-out</button>
    </nav>

    <div class="container-select">
      <h1 class="select-title">Search by ID:</h1>
      <form method="POST" action="/editRaben">
      <label for="trans_id">ID:</label>
      <input type="text" name="trans_id" id="search-trans" required/>
      <label for="trans_weight">weight</label>
        <input
          type="number"
          name="trans_weight"
          id="search-weight-trans"
          required
        />
        
      <button id="edit-trans">Search</button>
      {{#if message}}<h4 class="alert alert-danger">{{message}}</h4>{{/if}}
      </form>
    </div>
    <div class="container">
      <form class="form-style" id="search-form" action="rabenEdited" method="POST">
        <h3 class="form-title">Raben Db</h3>
        <label for="rabenId">ID:</label>
        <input class="form-input" name="rabenId" type="text"  {{#if trans_id}} value={{trans_id}} {{/if}} id="raben-id-input" />
        <label for="rabenName"> Transporter Name:</label>
        <input
          class="form-input"
          name="rabenName"
          type="text"
          id="trans-name"
            {{#if trans_name}}
          value={{trans_name}}
          {{/if}}
          readonly
        />
        <label for="rabenType">Transport type:</label>
        <input
          class="form-input"
          name="rabenType"
          type="text"
          id="raben-type"
            {{#if trans_type}}
          value={{trans_type}}
          {{/if}}
          readonly
        />
        <label for="dpdWeight">Transport weight</label>
        <input
          class="form-input"
          name="rabenWeight"
          type="number"
          id="raben-weight"
            {{#if trans_weight}}
          value = {{trans_weight}}
          {{/if}}
        />
        <label for="dpdQuantity">Transport pallet quantity:</label>
        <input
          class="form-input"
          name="rabenQuantity"
          type="number"
          id="raben-quantity"
          {{#if trans_quantity}}
          value ={{trans_quantity}}
          {{/if}}
        />
        <label for="dpdPrice">Transport price:</label>
        <input
          class="form-input"
          name="rabenPrice"
          type="number"
          id="raben-price"
          {{#if trans_price}}
          value = {{trans_price}} 
          {{/if}} />
        <button class="add-btn" id="edit-btn-dpd" type="submit">Save</button>
      </form>
    </div>
    </div>
  </body>
</html>